{% extends 'base.twig' %}

{% block content %}

    <h1> Lista de mesas</h1>

    <div class="product-list">
       
    <table id="tabla-mesas" class="product-table">
        <thead>
            <tr>
                <th>Nombre cliente</th>
                <th>numero de mesa</th>
                <th>Estado</th>
                <th>Encuesta</th>
            </tr>
        </thead>
        <tbody>
            {% for comanda in data %}
                <tr class="product-row" idComanda={{comanda.id}}>
                    <td>{{ comanda.nombre_cliente }}</td>
                    <td>{{ comanda.numero_mesa }}</td>
                    <td>{{ comanda.estado }}</td>
                    <td>
                        {% if comanda.id_encuesta == null %}
                            <span class="product-status">No Realizada</span>
                        {% else %}
                            <span class="product-status available">Realizada</span>
                        {% endif %}
                    </td>
                    <td><button idComanda={{comanda.id}}>Cargar Foto</button></td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <script src="/public/js/mesas.mostrar.js"></script>
{% endblock %}
