{% extends 'base.twig' %}

{% block content %}

    <p> Lista de pedidos</p>

    <div class="product-list">
       
    <table class="product-table" id='tabla-pedidos'>
        <thead>
            <tr>
                <th>id Comanda</th>
                <th>descripcion producto</th>
                <th>sector</th>
                <th>tiempo estimado</th>
                <th>id empleado</th>
                <th>orden recibida</th>
                <th>orden entregada</th>
                <th>estado</th>
            </tr>
        </thead>
        <tbody>
            {% for element in data %}
                <tr class="product-row" idelement={{element.id}}>
                    <td>{{ element.id_comanda }}</td>
                    <td>{{ element.descripcion }}</td>
                    <td>{{ element.sector }}</td>
                    <td>{{ element.tiempo_estimado }}</td>
                    <td>{{ element.id_empleado }}</td>
                    <td>{{ element.orden_recibida }}</td>
                    <td>{{ element.orden_entregada }}</td>
                    <td>
                        {% if element.estado == 'cancelado' %}
                            <span class="product-status">{{ element.estado }}</span>
                        {% else %}
                            <span class="product-status available">{{ element.estado }}</span>
                        {% endif %}
                    </td>
                    <td><button id='tomar' idPedido={{element.id}}>tomar pedido</button></td>
                    <td><button id='entregar' idPedido={{element.id}}>entregar pedido</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
 <script src="/public/js/pedidos.js"></script>

{% endblock %}
