{% extends 'base.twig' %}

{% block content %}

    <p> Lista de Usuarios</p>

    <div class="product-list">
       
    <table class="product-table">
        <thead>
            <tr>
                <th>email</th>
                <th>nombre</th>
                <th>Edad</th>
                <th>sector</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for element in data %}
                <tr class="product-row" idProducto={{element.id}}>
                    <td>{{ element.email }}</td>
                    <td>{{ element.nombre }}</td>
                    <td>{{ element.edad }} años</td>
                    <td>{{ element.sector }}</td>
                    <td>
                        {% if element.estado == 0 %}
                            <span class="product-status">No Disponible</span>
                        {% else %}
                            <span class="product-status available">Disponible</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
